ROOT_USER=
ROOT_PASS=
ACADEMIA_USER=teste.academia@endorfinapp.com
ACADEMIA_PASS=Teste@123
PROFESSOR_USER=teste.professor@endorfinapp.com
PROFESSOR_PASS=Teste@123
ALUNO_USER=teste.aluno@endorfinapp.com
ALUNO_PASS=Teste@123
